

    #titulo {
        text-align: center;
        font-size: 1.8 rem;
    }
    

    h1{color: blue;
    text-align: center;
    }

    h2{color: orange;} 

    p{color: rgb(235, 0, 161);}

    